.hidden { 
  display: none;
}

.center {
  margin: auto;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: radial-gradient(circle at 50%, white 50%, beige 75%);
}

#score-table {
  margin: auto;
  background-color: white;
}

img {
  border: 8px solid black;
  border-radius: 20%;
}